// app global css in SCSS form
@font-face {
    font-family: 'DMSans-Regular';
     src: url(../css/fonts/DMSans-Regular.ttf)
}
@font-face {
    font-family: 'DMSans-Medium';
     src: url(../css/fonts/DMSans-Medium.ttf)
}
@font-face {
    font-family: 'DMSans-Bold';
     src: url(../css/fonts/DMSans-Bold.ttf)
}
@font-face {
    font-family: 'GreatVibes-Regular';
     src: url(../css/fonts/GreatVibes-Regular.ttf)
}
@font-face {
    font-family: 'PurplePurse-Regular';
     src: url(../css/fonts/PurplePurse-Regular.ttf)
}
@font-face {
    font-family: 'YsabeauInfant-ExtraLight';
     src: url(../css/fonts/YsabeauInfant-ExtraLight.ttf)
}
@font-face {
    font-family: 'YsabeauInfant-Bold';
     src: url(../css/fonts/YsabeauInfant-Bold.ttf)
}
@font-face {
    font-family: 'YsabeauInfant-Medium';
     src: url(../css/fonts/YsabeauInfant-Medium.ttf)
}
@font-face {
    font-family: 'Lumanosino-Regular';
     src: url(../css/fonts/Lumanosimo-Regular.ttf)
}